# App URLs
NEXT_PUBLIC_WEB_URL=http://localhost:3000
NEXT_PUBLIC_USER_URL=http://localhost:3001
NEXT_PUBLIC_ADMIN_URL=http://localhost:3002
NEXT_PUBLIC_TEACHER_URL=http://localhost:3003

# API Base URL
NEXT_PUBLIC_API_BASE_URL=https://server-url.site

# ChannelTalk
NEXT_PUBLIC_CHANNEL_PLUGIN_KEY=your-channel-plugin-key

# Cloudflare Web Analytics
NEXT_PUBLIC_CLOUDFLARE_WEB_ANALYTICS_TOKEN=your-web-analytics-token
NEXT_PUBLIC_CLOUDFLARE_USER_ANALYTICS_TOKEN=your-student-analytics-token
NEXT_PUBLIC_CLOUDFLARE_ADMIN_ANALYTICS_TOKEN=your-admin-analytics-token
NEXT_PUBLIC_CLOUDFLARE_TEACHER_ANALYTICS_TOKEN=your-teacher-analytics-token
